.container {
  text-align: center;
  background-color: lightsteelblue;
}

.coinContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  grid-gap: 0.5rem;
}

.coinItem {
  text-align: center;
  background-color: rgb(232,231,217);
  border-radius: 10px;
  width: 200px;
  padding: 1rem;
}